.Hunter{
    color:rgb(255, 0, 170)
}
body {background-color: rgb(247, 229, 243);}
.Hunter{
    font-size: x-large;
}
*{font-family: Georgia, 'Times New Roman', Times, serif;

}
.container{
    margin: auto;
}